body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
  }
  .container {
    width: 30rem;
  }
  .list-group {
    height: 30rem;
    overflow: scroll;
    box-shadow: -1px 1px 0px 4px rgba(0, 0, 0, 0.2);
  }



